@import "tailwindcss";

*{
  /* font-family: Outfit; */
}

@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001F;

  --font-outfit: "Outfit", "sans-serif";
  --font-ovo: "Ovo", "serif";

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

@custom-variant dark (&:where(.dark, .dark *));

/* @layer base {
  body {
    font-family: var(--font-outfit);
    background-color: white;
    color: black;
  }

  .dark body {
    background-color: var(--color-dark-theme);
    color: white;
  }
} */

@layer utilities {
  /* Background Colors */
  /* .bg-light-hover {
    background-color: var(--color-light-hover);
  }
  .bg-dark-hover {
    background-color: var(--color-dark-hover);
  }
  .bg-dark-theme {
    background-color: var(--color-dark-theme);
  } */

  /* Font Families */
  /* .font-outfit {
    font-family: var(--font-outfit);
  }
  .font-ovo {
    font-family: var(--font-ovo);
  } */

  /* Shadows */
  /* .shadow-black {
    box-shadow: var(--shadow-black);
  }
  .shadow-white {
    box-shadow: var(--shadow-white);
  } */

  /* Grid Template Columns */
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
